*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.body,html
{
	font-family: "Raleway", sans-serif; /*20px - 15px - 12px*/
	/*height: 100%;*/
	/*line-height: 1.8;*/
} 
.body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.top{
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
}
nav
{
    background: rgb(0, 0, 0);
    margin: 0; /* added with forum*/
    /*text-align: right; /*used to be center*/
}
nav ul
{
    margin: 0; /*added with forum*/
    padding: 0; /*added with forum */

    display: inline-flex;
    list-style: none;
    color: #fff;
}

/*nav ul li:first-child*/

nav ul li.logo
{
    width: auto;
    margin: auto;
    margin-right: 150px;
}

nav ul li.right{
    width: 160px;
    margin: 15px;
    padding: 15px;
}

nav ul li.right:hover
{
    background-color:#1200b8;
}

#last-right
{
    margin-right: 125px;
}

nav ul li.fr, nav ul li.eng
{
    margin: auto;
    width: 40px;
    padding: 5px;
}

nav ul li.fr:hover, nav ul li.eng:hover{
    text-decoration: underline;
}
nav ul li a
{
    text-decoration: none;
    color: #fff;
}

nav ul li a.logo
{
     background: #0542c5;
     border-radius: 3px;
     letter-spacing:4px; /*w3s */
	 /*text-align: left; /*added for logo*/
}
nav .fa
{
    margin-right: 8px;
}

.fa angle-right
{
 float: right;   
}



.first-header {
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media.istockphoto.com/photos/futuristic-digital-blockchain-background-abstract-connections-and-picture-id1249654571?k=20&m=1249654571&s=170667a&w=0&h=jtZ7_jyDmGhDdR1EdIEZZJYOH-Np1-1uh1lvn5QykJs=);
  
  min-height: 100%;
  
  position:relative;

  filter:grayscale(50%);
}

.jericho-home{
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);

	color:#fff!important;
}

.jericho-slogan{
	font-size:64px!important;
}

.large{
    font-size:18px!important;
}

.about-us{
    padding: 0.01 em 16px;
    
    color:#000!important;
    background-color:#fff!important;
}
.about-us:after,.about-us:before{
    content:"";
    display:table;
    clear:both;
}

.center, .centered-paragraph{
    text-align:center!important;
}
.center .fa{
    margin-right: 8px;
}

.text{
    text-align: justify!important;
    /*text-align: center;
    display: block;
    width: 100%*/
}

.centered-paragraph{
    font-size:18px!important;
    font-weight: bold;
}

/*.about-us{
    padding: 0 8px;
}*/

.innover{
    padding:0.01em 16px;

    margin-top:16px;
    margin-bottom:16px;
    text-align: center;

    border-left: 6px solid #1200b8!important;

    padding-top:32px!important;
    padding-bottom:32px!important;

    max-width: 1400px;
}

.notre-equipe{
    padding:0 8px;

    filter:grayscale(75%);
}

.margin-bottom{
    /*float:left;*/

    /*width:100%;*/
    /*padding: 0 8px;*/

    /*width:24.99999%;*/
    width: 19.49999%;
    /*width: 49.99999%;*/

    margin-bottom:16px!important;

    display: inline-block;
    text-align: center;
    /*text-align: justify;*/
}


.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.tahar-picture, .benjamin-picture{
    height: 290px;
}

.container{
    padding: 0.01 em 16px;
}
.container:after,.container:before{
    content:"";
    display:table;
    clear:both;
}

.opacity{
    opacity:1;
    /*color: #1200b8;*/
    font-family: bold;
    font-size: 18px;
}



.jericho{ 
    background-color:#3c2dc1; 
    color:#fff!important;
}

.jericho-mission .text{ 
    padding:0.01em 16px;

    margin-top:16px;
    margin-bottom:16px;
    text-align: center;

    border-left: 6px solid #000!important;

    padding-top:32px!important;
    padding-bottom:32px!important;

    max-width: 1400px;
}

.reseau{
    background-color: #000000; 
    color:#FFFFFF;
}
.reseau-structure{
    padding:0.01em 16px;

    margin-top:16px;
    margin-bottom:16px;
    text-align: center;

    border-left: 6px solid #3c2dc1!important;

    padding-top:32px!important;
    padding-bottom:32px!important;

    max-width: 1400px;
}

.investisseurs{
    background-color: #fff!important; /*#FE2C55;*/
    color: #000;
}

.business-model{
    padding:0.01em 16px;

    margin-top:16px;
    margin-bottom:16px;
    text-align: center;

    border-left: 6px solid #1200b8!important;

    padding-top:32px!important;
    padding-bottom:32px!important;

    max-width: 1400px;
}

.discover{
    background-color: #3c2dc1; /*#25F4EE;*/
    color: #fff!important;
}

.faq{
    padding:0.01em 16px;

    margin-top:16px;
    margin-bottom:16px;
    text-align: center;

    border-left: 6px solid #000!important;

    padding-top:32px!important;
    padding-bottom:32px!important;

    max-width: 1400px;
}

.contact{
    background-color:#000; /* awesome purple #9713e9;*/
    color: #fff;
}
.contact-p{
    padding:0.01em 16px;

    margin-top:16px;
    margin-bottom:16px;
    /*text-align: center;*/
    text-align: justify;

    padding-top:32px!important;
    padding-bottom:32px!important;

    max-width: 1400px;

    margin-left: 610px;
    margin-right: auto;
}
